In [1]:
import pandas as  pd 
import numpy as np

In [3]:
import os
os.chdir("/Users/richcriticism/Documents/Documents/Bhavya_code/CorrectPose2")

In [4]:
df = pd.read_csv("artifacts/data_extraction/extracted_data/training_data.csv")

In [5]:
df.head()

,left_elbow_angle,right_elbow_angle,left_shoulder_angle,right_shoulder_angle,left_knee_angle,right_knee_angle
0,169.628719,167.524370,160.264565,203.991291,186.351037,181.905870
1,163.575509,170.567945,165.311213,195.421785,181.174391,177.600606
2,163.575509,170.567945,165.311213,195.421785,181.174391,177.600606
3,196.489356,190.002506,209.823101,150.113611,182.611865,183.012658
4,195.384657,196.863638,193.339249,167.266075,172.896277,173.235103